@import "tailwindcss";

.root {
  border-left: 1px solid var(--bg-quat);
  @apply w-sm flex flex-col;
}

.container {
  @apply flex-1 flex flex-col gap-1 overflow-y-hidden px-4 pb-4;
  @apply w-full;
}

.header {
  border-bottom: 1px solid var(--bg-quat);
  @apply py-2 px-4 rounded-t-lg;
  @apply w-full;
}

.entity-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.fields-container {
  flex: 1;
  overflow-y: auto;
}

.field-label {
  display: block;
  margin-top: 8px;
  @apply text-sm;
}

.icon-action {
  min-width: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--bg-quat);
  background-color: var(--bg-sec);
  @apply cursor-pointer rounded-md border flex justify-center items-center;

  &:disabled {
    @apply cursor-not-allowed opacity-30;
  }
}
