@import "tailwindcss";

.container {
  @apply w-full lg:w-lg;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;
}


.column-label {
  @apply flex gap-1 ml-6 hover:bg-gray-100 cursor-pointer items-center p-0.5 rounded-lg;

  span {
    max-width: 400px;
    @apply truncate text-sm;
  }

  &.not-active {
    @apply opacity-40;
  }
}