@import "tailwindcss";

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

.container {
  @apply fixed inset-0 z-10;

  &.animate-show {
    animation: show 0.15s forwards;
    @apply opacity-100 pointer-events-auto;
  }

  &.animate-hide {
    animation: hide 0.15s forwards;
    @apply pointer-events-none;
  }
}

.content {
  @apply absolute z-1;

  &.animate-show {
    animation: slide-up 0.15s forwards;
    @apply opacity-100 pointer-events-auto;
  }

  &.animate-hide {
    animation: slide-down 0.15s forwards;
    @apply pointer-events-none;
  }
}

.backdrop {
  @apply fixed inset-0 z-0 bg-black/45 cursor-default;
}