@import "tailwindcss";

.table {
  @apply w-full relative;
  border-collapse: separate;
  border-spacing: 0;

  td {
    @apply border-b border-r border-gray-100;
  }

  thead td {
    @apply sticky z-1 bg-(--bg) top-0 border-gray-200;
  }
}

.semi-transparent {
  @apply opacity-60;
}

.table-loading {
  @apply p-1 text-center bg-white;
}

.table-empty {
  @apply p-1 text-center rounded-b-lg bg-white;
}

.table-row-cells {
  @apply bg-white;

  &:hover {
    @apply bg-(--bg);
  }
}

.header-cell {
  padding: 8px 12px;
  @apply cursor-default truncate hover:bg-(--bg) text-left;

  .header-actions {
    display: none;
  }

  &:hover .header-actions {
    display: flex;
  }
}

.cell {
  padding: 8px 12px;
  max-width: 250px;
  min-width: 100px;
  @apply relative text-gray-800;

  .cell-actions {
    display: none;
  }

  &:hover .cell-actions {
    display: flex;
  }

  &:hover {
    @apply ring-4 ring-blue-200 z-1 bg-white;
  }

  .value {
    @apply truncate block pointer-events-none;
  }
}

.cell-actions {
  bottom: -24px;
  @apply absolute border border-gray-200 bg-white shadow-md rounded-lg flex items-center overflow-hidden;

  button {
    @apply hover:bg-(--bg) cursor-pointer p-1 text-sm;

    svg {
      @apply pointer-events-none;
    }
  }
}

.header-actions {
  right: 0;
  top: 0;
  bottom: 0;

  @apply absolute border-l border-gray-200 bg-white flex items-center p-1;

  button {
    @apply text-sm font-semibold hover:bg-gray-100 cursor-pointer rounded-md p-1;
  }
}

.table-config {
  @apply flex gap-2 items-center p-1;

  &:not(:last-child) {
    @apply border-r border-gray-200;
  }
}

.tab-name {
  max-width: 120px;
  @apply truncate;
}

.table-action {
  @apply gap-2 px-2 py-1 cursor-pointer text-sm rounded-md select-none truncate;

  &.blue {
    &:hover {
      @apply bg-blue-100 text-blue-800;
    }
  }

  &.red {
    &:hover {
      @apply bg-red-100 text-red-800;
    }
  }

  &.modal {
    display: grid;
    grid-template-columns: 120px 1fr;
    text-align: left;
  }

  &.size {
    width: 100px;
    justify-content: center;
  }

  &.selected-size {
    @apply bg-blue-50 text-blue-800 ring-2 ring-offset-1 ring-blue-200;
  }

  &:not(.modal) {
    @apply flex items-center;
  }
}

.options-container {
  @apply w-full lg:w-md lg:max-w-lg;
  @apply rounded-lg bg-white flex flex-col shadow-lg border border-gray-200 overflow-hidden;

  & + & {
    margin-top: 8px;
  }
}

.row-options-entries-list {
  max-height: 30vh;
  @apply flex flex-col overflow-y-auto my-2;
}

.cell-action-btn {
  @apply p-1 rounded-lg bg-white;

  &:hover {
    @apply bg-gray-100 cursor-pointer;
  }
}

.underlying-rows-btn {
  min-width: 180px;
  max-width: 60vw;
  max-height: 30vh;
  @apply text-left rounded-lg w-full mt-2;
  @apply p-2 bg-white flex flex-col gap-2 shadow-lg border border-gray-200 overflow-y-auto relative;

  &:hover {
    @apply bg-gray-100 cursor-pointer;
  }
}

.option-item {
  @apply text-left p-2;

  &:hover {
    @apply bg-(--bg) cursor-pointer;
  }
}

.option-item-active {
  @apply text-blue-500 border-blue-300 bg-blue-50;
}

.pagination-indicator {
  @apply text-sm bg-gray-100 rounded-md px-2 border border-gray-200 cursor-pointer whitespace-nowrap text-center;
  min-width: 80px;
  height: 22px;
}
