@import "tailwindcss";

.table {
  @apply w-full relative;
  border-collapse: separate;
  border-spacing: 0;

  td {
    border-color: var(--bg-quat);
    @apply border-b border-r;

    &:first-child {
      @apply py-1 px-1 text-center align-middle text-xs w-8 text-blue-500 lg:sticky z-2 lg:left-0 bg-(--bg-sec);
    }
  }

  thead td {
    border-color: var(--bg-quat);
    @apply sticky z-1 bg-(--bg-sec) top-0;

    &:first-child {
      @apply py-1 px-1 text-center text-sm text-gray-600 border-r z-3 lg:left-0;
    }
  }
}

.row-index-btn {
  @apply flex gap-1 items-center hover:bg-white hover:ring-2 ring-blue-200 ring-offset-1 rounded-md px-1 cursor-pointer;
}

.semi-transparent {
  @apply opacity-60;
}

.table-loading {
  @apply p-1 text-center bg-white;
}

.table-empty {
  @apply p-1 text-center rounded-b-lg bg-white;
}

.table-row-cells {
  @apply bg-white;

  &:hover {
    @apply bg-(--bg-sec);
  }
}

.header-cell {
  padding: 8px 12px;
  @apply cursor-default truncate hover:bg-(--bg-sec) text-left;

  .header-actions {
    display: none;
  }

  &:hover .header-actions {
    display: flex;
  }
}

.cell {
  padding: 8px 12px;
  max-width: 250px;
  min-width: 100px;
  @apply relative text-gray-800 text-sm;

  .cell-actions {
    display: none;
  }

  &:hover .cell-actions {
    display: flex;
  }

  &:hover {
    @apply ring-4 ring-inset ring-blue-200 z-1 bg-white;
  }

  .value {
    @apply truncate block pointer-events-none;
  }
}

.cell-actions {
  bottom: -24px;
  @apply absolute border border-gray-200 bg-white shadow-md rounded-lg flex items-center overflow-hidden;

  button {
    @apply hover:bg-(--bg-sec) cursor-pointer p-1 text-sm;

    svg {
      @apply pointer-events-none;
    }
  }
}

.header-actions {
  right: 0;
  top: 0;
  bottom: 0;

  @apply absolute border-l border-gray-200 bg-white flex items-center p-1;

  button {
    @apply text-sm font-semibold hover:bg-gray-100 cursor-pointer rounded-md p-1;
  }
}

.table-config {
  @apply flex gap-2 items-center p-1;
}

.tab-name {
  max-width: 120px;
  @apply truncate;
}

.table-action {
  @apply gap-2 px-2 py-1 cursor-pointer text-sm rounded-md select-none truncate;

  &.green-fixed {
    @apply bg-green-200 text-green-900;
  }

  &.gray {
    &:hover {
      @apply bg-gray-100;
    }
  }

  &.red {
    &:hover {
      @apply bg-red-100 text-red-800;
    }
  }

  &.modal {
    display: grid;
    grid-template-columns: 120px 1fr;
    text-align: left;
  }

  &.size {
    width: 100px;
    justify-content: center;
  }

  &.selected-size {
    @apply bg-blue-50 text-blue-800 ring-2 ring-offset-1 ring-blue-200;
  }

  &:not(.modal) {
    @apply flex items-center;
  }
}

.row-options-entries-list {
  max-height: 30vh;
  @apply flex flex-col overflow-y-auto mb-2;
}

.cell-action-btn {
  @apply p-1 rounded-lg bg-white;

  &:hover {
    @apply bg-gray-100 cursor-pointer;
  }
}

.underlying-rows-btn {
  max-height: 30vh;
  @apply text-left w-full mt-2;
  @apply p-2 bg-white flex flex-col gap-2 shadow-lg border-t border-gray-200 overflow-y-auto relative;

  &:hover {
    @apply bg-gray-100 cursor-pointer;
  }
}

.option-item-active {
  @apply text-blue-500 border-blue-300 bg-blue-50;
}

.pagination-indicator {
  @apply text-sm bg-gray-100 rounded-md px-2 border border-gray-200 cursor-pointer whitespace-nowrap text-center;
  min-width: 80px;
  height: 22px;
}
