@import "tailwindcss";

.container {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @apply p-1 bg-white flex gap-2 overflow-x-auto;
}

.pill {
  @apply px-3 py-1 rounded-md flex items-center gap-1 cursor-pointer;
  transition: opacity ease-in-out 0.15s;

  p {
    max-width: 120px;
    @apply truncate inline-block;
  }
}

.yellow-pill {
  composes: pill;
  @apply bg-yellow-200 text-yellow-900;
}

.yellow-outline-pill {
  composes: pill;
  @apply outline-1 outline-yellow-200 bg-yellow-100 text-yellow-900;
}

.green-pill {
  composes: pill;
  @apply bg-green-200 text-green-900;
}

.blue-pill {
  composes: pill;
  @apply bg-blue-200 text-blue-900;
}

.blue-outline-pill {
  composes: pill;
  @apply outline-1 outline-blue-200 bg-blue-100 text-blue-900;
}

.purple-pill {
  composes: pill;
  @apply bg-purple-200 text-purple-900;
}

.red-pill {
  composes: pill;
  @apply bg-red-200 text-red-900;
}

.black-pill {
  composes: pill;
  @apply bg-black text-white;
}

.disabled-pill {
  opacity: 0.35;
}

.remove-last-join {
  @apply p-1 border border-red-400 rounded-md cursor-pointer;
}
