@import "tailwindcss";

.root {
  width: 30px;
  transition: width 250ms ease-in-out;
  @apply flex relative;
}

.root-show {
  width: 430px;
}

.content-desktop {
  @apply p-2 border-l border-gray-200 bg-white overflow-y-auto w-full;
  min-width: 400px;
}

.content-mobile {
  @apply p-2 bg-white overflow-y-auto;
  width: 400px;
  max-width: 100%;
}

.options-container {
  min-width: 180px;
  max-width: 60vw;
  max-height: 40vh;
  @apply px-2 py-2 rounded-lg bg-white flex flex-col gap-1 shadow-lg border border-gray-200 overflow-y-auto;

  & button {
    cursor: pointer;
  }
}

.card {
  @apply rounded-lg bg-(--bg) p-2 border border-gray-200 relative flex justify-between items-center gap-2;
}

.cards-list {
  @apply flex flex-col gap-2 mt-2;
}

.sub-text {
  @apply font-semibold text-sm lg:text-xs;
}

.text {
  @apply font-semibold text-base lg:text-sm text-gray-800;
}

.section-title {
  @apply font-semibold text-gray-600 text-lg lg:text-base;
}

.sidebar-action {
  @apply mt-2 px-2 py-1 text-base lg:text-sm font-semibold bg-white text-gray-800 border border-gray-200 rounded-lg cursor-pointer hover:bg-gray-100;
  @apply flex items-center justify-center gap-2;
}

.join-modal {
  width: 600px;
  max-width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.section-container {
  &+& {
    @apply mt-4;
  }
}

.close-button {
  @apply p-0.5 text-red-500 cursor-pointer rounded-full;

  &:hover {
    @apply bg-red-50;
  }
}

.expand {
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;

  top: 12px;
  /*left: -32px;*/
  position: sticky;
  @apply cursor-pointer border border-r-0 border-blue-200 bg-white rounded-l-lg flex justify-center items-center hover:bg-gray-100;
}

.section-open-btn {
  @apply p-0.5 bg-(--bg) hover:bg-gray-200 cursor-pointer rounded-lg flex items-center border border-gray-200;

  span {
    @apply text-sm lg:text-xs font-semibold px-1;
  }
  & svg {
    rotate: 180deg;
  }

  &.show svg {
    rotate: 90deg;
  }
}
