@import "tailwindcss";

.container {
  @apply w-full lg:w-lg;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;
}


.column-label {
  @apply flex gap-1 hover:bg-gray-100 cursor-pointer items-center p-0.5 px-2 rounded-lg;

  span {
    max-width: 400px;
    @apply truncate text-sm;
  }

  &.not-active {
    span, svg {
      @apply opacity-40;
    }
  }
}

.group-by-label {
  @apply flex gap-1 hover:bg-gray-100 cursor-pointer items-center p-0.5 px-2 rounded-lg;

  span {
    max-width: 400px;
    @apply truncate text-sm;
  }

  &.active {
    span, svg {
      @apply opacity-40;
    }
  }
}

.highlighted {
  @apply ring-2 ring-inset ring-blue-500;
}