@import "tailwindcss";

.input {
  display: grid;
  grid-template-columns: 140px 1fr;

  &:not(:last-child) {
    border-bottom: 1px solid var(--bg-sec);
  }

  .label {
    @apply text-sm font-semibold py-1 px-2 bg-(--bg-sec) flex items-center;
  }

  input {
    @apply p-1 outline-none;

    &:focus {
      @apply ring-2 ring-blue-400 ring-inset;
    }
  }
}

.content {
  width: 100%;

  @apply flex flex-col gap-2;
}

.form {
  border: 1px solid var(--bg-quat);

  @apply rounded-md;
}

.header {
  @apply flex justify-center gap-2 items-center mb-4;
}

.mode-select {
  @apply max-w-xl cursor-pointer block p-2 rounded-md text-left;

  &.selected {
    @apply ring-2 ring-blue-400 ring-inset;
  }

  &:not(.selected) {
    @apply ring-2 ring-gray-100 ring-inset;
  }
}

.mode-container {
  @apply grid grid-cols-1 gap-2 mt-2;
}
