@import "tailwindcss";

.input {
  display: grid;
  grid-template-columns: 140px 1fr;

  &:not(:last-child) {
    border-bottom: 1px solid var(--bg-sec);
  }

  .label {
    @apply text-sm font-semibold py-1 px-2 bg-(--bg-sec) flex items-center justify-end;
  }

  input {
    @apply p-1;
  }
}

.content {
  width: 100%;

  @apply flex flex-col gap-2;
}

.form {
  border: 1px solid var(--bg-quat);

  @apply rounded-md;
}

.header {
  @apply flex justify-center gap-2 items-center mb-4;
}

.mode-select {
  @apply max-w-xl cursor-pointer block px-3 py-4 rounded-md;

  &.selected {
    @apply ring-inset ring-3 ring-blue-500;
  }

  &:not(.selected) {
    @apply ring-inset ring-3 ring-gray-100 opacity-50;
  }

  & + & {
    @apply mt-2;
  }
}
