@import "tailwindcss";

.input {
  display: grid;
  grid-template-columns: 140px 1fr;

  &:not(:last-child) {
    border-bottom: 1px solid var(--bg-sec);
  }

  .label {
    @apply text-sm font-semibold py-1 px-2 bg-(--bg-sec) flex items-center justify-end;
  }

  input {
    @apply p-1;
  }
}

.content {
  width: 100%;

  @apply flex flex-col gap-2;
}

.form {
  border: 1px solid var(--bg-quat);

  @apply rounded-md;
}

.switch {
  @apply grid grid-cols-2 gap-2 max-w-xl;
}

.mode-select {
  @apply max-w-xl cursor-pointer block;

  & + & {
    @apply mt-3;
  }
}
