@import "tailwindcss";

.actions {
  @apply flex items-center justify-between m-2 mt-4;
}

.filter-actions {
  display: flex;
  gap: 2px;

  button {
    width: 30px;
    height: 30px;
    @apply flex items-center justify-center;
    @apply hover:bg-gray-100;
  }
}

.filter-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  @apply text-xs font-semibold text-blue-600;
}

.filters-container {
  @apply flex flex-col gap-2 w-full lg:w-lg px-2;
}

.filter-container {
  @apply grid items-center;
  grid-template-columns: 24px 200px 1fr 30px;
}

.filter-value {
  border: 1px solid var(--bg-quat);
  border-left: 0;
  @apply flex items-center gap-2 rounded-r-md p-1;

  &:focus-within {
    @apply ring-2 ring-blue-400 ring-inset;
  }
}
