@import "tailwindcss";

.actions {
  @apply flex items-center justify-between m-2;
}

.filter-actions {
  display: flex;
  gap: 2px;

  button {
    width: 30px;
    height: 30px;
    @apply flex items-center justify-center;
    @apply hover:bg-gray-100;
  }
}

.table {
  @apply border-collapse w-full;

  thead {
    td {
      padding: 2px 4px;
    }
  }

  td {
    @apply border border-gray-200 text-sm;

    &:first-child {
      @apply px-4;
    }

    input {
      padding: 2px 4px;
      flex: 1;
    }
  }
}
