@import "tailwindcss";

.data-source-entry {
  display: grid;
  grid-template-columns: 32px 1fr;
  @apply gap-2 items-center cursor-pointer hover:bg-gray-50 p-4 bg-white rounded-md border border-gray-200 relative;
}

.action-title {
  @apply font-semibold text-(--text-color-primary);
}

.action-subtext {
  @apply text-sm text-gray-700 mt-2 truncate;
}

.recent-tabs-container {
  border: 1px solid var(--bg-quat);
  @apply bg-(--bg) rounded py-4 z-1;
}

.recent-tabs-entry {
  @apply p-1 px-4 flex items-center justify-between gap-2;

  &:hover {
    @apply bg-(--bg-sec) cursor-pointer;
  }
}

.home-action-button {
  border: 1px solid var(--bg-quat);
  @apply bg-white p-4 rounded-lg hover:bg-gray-50! cursor-pointer flex gap-2 items-center;
}

.home-gray-card {
  border: 1px solid var(--bg-quat);
  @apply bg-(--bg-sec) p-4 rounded;
}

.home-card-title {
  @apply font-semibold text-(--text-color-secondary);
}

.home-card-grid-content {
  @apply grid lg:grid-cols-3 gap-2 mt-4;
}

.useful-links {
  @apply flex gap-2 justify-center;

  a {
    border: 1px solid var(--bg-quat);
    @apply flex gap-1 items-center hover:bg-(--bg-sec) px-3 py-1 rounded-full text-sm;
  }
}
