@import "tailwindcss";

.user-entry {
  @apply flex items-center border border-gray-200 overflow-hidden;

  &:first-child {
    @apply rounded-t-md;
  }

  &:last-child {
    @apply rounded-b-md;
  }

  &:not(:first-child) {
    @apply border-t-0;
  }

  & > .select-container {
    @apply p-2 border-r border-gray-200;
  }

  button {
    @apply p-1 m-1 hover:bg-red-100 rounded-md;
  }
}