@import "tailwindcss";

.desktop-layout {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.nav {
  --nav-icon-size: 32px;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  border-right: 1px solid var(--bg-quat);
  @apply flex flex-col w-full bg-(--bg-sec) pb-2;
  transition: max-width ease-in-out 250ms;

  &.shown {
    max-width: 250px;
  }

  &.hidden {
    max-width: calc(var(--nav-icon-size) + 16px);
  }
}

.nav-path {
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;

  &:not(:first-child) {
    @apply text-ellipsis overflow-hidden;
  }

  &:is(button) {
    @apply hover:bg-gray-100;
  }
}

.nav-sub-path {
  border-radius: 4px;
  @apply px-2 py-1 hover:bg-gray-100;
}

.main {
  max-width: 100%;
  flex: 1;
  overflow: hidden;
}

.link {
  @apply hover:bg-gray-100 px-2 py-0.5 cursor-pointer;
}

.header {
  padding: 8px;
  @apply flex flex-col;
}

.logout {
  border-radius: 0;
}

.expand {
  @apply p-1 cursor-pointer rounded-lg;

  svg {
    transition: rotate ease-in-out 250ms;
  }

  &.show {
    svg {
      @apply rotate-180;
    }
  }

  &.hide {
    svg {
      @apply rotate-0;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

.nav-item {
  display: grid;
  grid-template-columns: var(--nav-icon-size) 1fr var(--nav-icon-size);
  height: var(--nav-icon-size);

  @apply text-(--text-color-primary) items-center;
  @apply overflow-hidden text-left cursor-pointer rounded-lg gap-1;

  &:hover:enabled {
    @apply bg-(--bg-quat);
  }

  &:disabled {
    @apply cursor-not-allowed opacity-40;
  }
}

.project-wrapper {
  transition: opacity ease-in-out 250ms;
  flex: 1;
  overflow-y: auto;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &.show {
    opacity: 1;
  }
}
