@import "tailwindcss";

.desktop-layout {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.nav {
  --nav-icon-size: 36px;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  border-right: 1px solid var(--bg-quat);
  @apply flex flex-col w-full pb-2;
  transition: max-width ease-in-out 250ms, background-color ease-in-out 250ms;

  &.shown {
    max-width: 250px;
    @apply bg-(--bg-sec);
  }

  &.hidden {
    background-color: white;
    max-width: calc(var(--nav-icon-size) + 8px);
  }
}

.nav-path {
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;

  &:not(:first-child) {
    @apply text-ellipsis overflow-hidden;
  }

  &:is(button) {
    @apply hover:bg-gray-100;
  }
}

.nav-sub-path {
  border-radius: 4px;
  @apply px-1 py-1 hover:bg-gray-100;
}

.main {
  max-width: 100%;
  flex: 1;
  overflow: hidden;
}

.link {
  @apply hover:bg-gray-100 px-1 py-0.5 cursor-pointer;
}

.header {
  @apply flex flex-col p-1;
}

.logout {
  border-radius: 0;
}

.expand {
  @apply p-1 cursor-pointer rounded-lg;

  svg {
    transition: rotate ease-in-out 250ms;
  }

  &.show {
    svg {
      @apply rotate-180;
    }
  }

  &.hide {
    svg {
      @apply rotate-0;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

.nav-item {
  display: grid;
  grid-template-columns: var(--nav-icon-size) 1fr var(--nav-icon-size);
  height: var(--nav-icon-size);

  @apply text-(--text-color-primary) items-center text-sm;
  @apply overflow-hidden text-left cursor-pointer rounded-lg gap-1;

  &:hover:enabled {
    @apply bg-(--bg-quat);
  }
}

.project-wrapper {
  flex: 1;
  @apply p-1 overflow-y-auto;
}
