@import "tailwindcss";

.container {
  @apply w-full lg:w-md flex flex-col;
}

.header {
  @apply sticky top-0 flex justify-between items-center px-4 py-2 border-b border-gray-200 bg-white;
}

.close-button {
  @apply cursor-pointer hover:bg-(--bg-ter) rounded-full p-1;
}

.tab-container {
  @apply px-2 py-3 mx-2 cursor-pointer;

  &:hover {
    @apply bg-(--bg-sec) rounded;
  }
}

.tab-name {
  @apply text-sm font-semibold flex-1 truncate text-(--text-color-primary);
}

.badge {
  @apply rounded-md text-xs border px-2;
}

.archived-badge {
  composes: badge;
  @apply bg-yellow-50 border-yellow-200 text-yellow-800;
}

.active-badge {
  composes: badge;
  @apply bg-green-50 border-green-200 text-green-800;
}

.delete-action {
  width: 200px;
  @apply hover:bg-(--bg-ter) cursor-pointer px-2 py-0.5 rounded text-left;
}

.load-more-btn {
  @apply text-blue-800 text-sm p-2 cursor-pointer;
}
