@import "tailwindcss";

.container {
  display: flex;
  flex-direction: column;

  @apply flex-1 px-2 py-2 overflow-y-hidden;
}

.menu {
  @apply p-1;
  @apply enabled:hover:bg-(--bg-ter) w-full flex justify-between items-center cursor-pointer rounded-lg;

  & > span {
    @apply truncate;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-40;
  }
}
