@import "tailwindcss";

.queries-container {
  border: 1px solid var(--bg-quat);

  @apply flex flex-col bg-(--bg) z-2 flex-1 overflow-y-auto;
}

.query-entry {
  @apply p-1 px-4 flex items-center justify-between gap-2;

  &:hover {
    @apply bg-(--bg-sec) cursor-pointer;
  }
}
