@import "tailwindcss";

.root {
  @apply flex p-1 whitespace-nowrap items-center gap-1 text-sm;

  &:hover {
    @apply bg-(--bg) cursor-pointer;
  }
}

.content {
  @apply grid grid-cols-2 overflow-hidden gap-1 items-center text-left w-full;
}

.table-name {
  line-height: 100%;
  @apply font-semibold truncate;
}

.sub {
  line-height: 100%;
  @apply text-xs font-semibold text-gray-600 truncate;
}