@import "tailwindcss";

.root {
  @apply flex p-1 whitespace-nowrap items-center gap-1 text-sm;

  &:hover {
    @apply bg-gray-50 cursor-pointer;
  }
}

.content {
  @apply overflow-hidden gap-1 items-center text-left w-full;
}

.table-name {
  @apply text-sm text-(--text-color-primary) font-semibold truncate;
}

.sub {
  @apply text-xs text-(--text-color-secondary) truncate;
}