.input {
  border: 1px solid var(--bg-quat);
  @apply rounded p-1 outline-0 bg-white;

  &:focus {
    @apply ring-2 ring-blue-400 ring-inset;
  }

  &:disabled {
    @apply cursor-not-allowed bg-(--bg-ter);
  }
}

.form {
  @apply bg-white flex flex-col gap-2;

  &.shadow {
    @apply shadow-md;
  }

  &.padding {
    @apply p-4;
  }
}

.button {
  @apply font-semibold py-0.5 px-2 cursor-pointer rounded-md;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.primary {
    @apply bg-blue-600 text-white border border-blue-600;

    &:hover:not(:disabled) {
      @apply bg-blue-700 border-blue-700;
    }
  }

  &.secondary {
    @apply bg-gray-300 text-gray-800;
  }

  &.tertiary {
    border: 1px solid var(--bg-quat);
    @apply bg-white text-gray-700;

    &:hover {
      @apply bg-(--bg-sec);
    }
  }

  &.danger {
    background-color: #dc3545;
    color: white;

    &:hover {
      background-color: #bf2e3c;
    }
  }
}
