@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap';
@import "tailwindcss";
@import "./containers.css";
@import "./forms.css";
@import "./typography.css";
@import "./context-menu.css";

@plugin "@tailwindcss/typography";

.a {
  @apply text-blue-400 underline;
}

@theme {
  --bg: #FFFFFF;
  --bg-sec: #F9F9F9;
  --bg-ter: #F2F2F2;
  --bg-quat: #E9E9E9;

  --text-color-primary: #212121;
  --text-color-secondary: #6B6B6B;
  --text-color-tertiary: #A6A6A6;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10pt;
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-100;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-300;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-400;
    }
  }
}

@layer components {
  .hotkey {
    min-width: 26px;
    max-width: 26px;
    min-height: 22px;
    max-height: 22px;

    @apply hidden lg:flex items-center justify-center cursor-pointer text-center rounded-sm text-xs font-semibold;

    &.secondary {
      border: 1px solid var(--bg-ter);
      @apply bg-(--bg);
    }

    &:not(.secondary) {
      border: 1px solid var(--bg-ter);
      @apply bg-(--bg-sec)
    }
  }

  .comfortaa {
    font-family: 'Comfortaa', sans-serif;
  }
}
