@import "tailwindcss";

.root {
  @apply w-full lg:w-md;
}

.section-open-btn {
  width: 20px;
  height: 20px;
  padding: 2px;

  @apply hover:bg-gray-100 cursor-pointer rounded-lg;
}

.down {
  rotate: 90deg;
}

.chevron {
  @apply cursor-pointer;
}

.table-name-container {
  @apply flex items-center gap-1;

  .link {
    border-radius: 4px;
    @apply hover:bg-blue-50 cursor-pointer p-1;
  }

  &:hover {
    .table-name {
      @apply bg-gray-100;
    }
  }
}

.table-name {
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  @apply truncate p-1 text-gray-800 text-sm;
}

.ul {
  list-style-type: none;
  padding-left: 8px;
  margin-left: 24px;

  @apply overflow-hidden border-l border-gray-200;

  li {
    font-weight: 500;
    @apply truncate text-gray-800 text-sm;
  }
}

.column-type {
  font-weight: 500;
  @apply text-blue-600 text-sm;
}

.action {
  &:not(:disabled) {
    @apply cursor-pointer hover:underline;
  }

  &:disabled {
    @apply opacity-40;
  }

  @apply text-sm;
}

.action-blue {
  composes: action;
  @apply text-blue-800;
}

.action-red {
  composes: action;
  @apply text-red-800;
}
