@import "tailwindcss";

.root {
  @apply w-full lg:w-md;
}

.section-open-btn {
  width: 20px;
  height: 20px;
  padding: 2px;

  @apply hover:bg-gray-100 cursor-pointer rounded-lg;
}

.up {
  rotate: 90deg;
}

.down {
  rotate: 270deg;
}

.chevron {
  @apply cursor-pointer;
}

.table-name-container {
  @apply flex items-center gap-1;

  .link {
    border-radius: 4px;
    @apply hover:bg-(--bg-sec) cursor-pointer p-1;
  }

  &:hover {
    .table-name {
      @apply bg-(--bg-sec);
    }
  }
}

.table-name {
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  @apply truncate p-1 text-gray-800 text-sm;
}

.ul {
  list-style-type: none;
  padding-left: 8px;
  margin-left: 24px;

  @apply overflow-hidden border-l border-gray-200;

  li {
    font-weight: 500;
    @apply truncate text-gray-800 text-sm;
  }
}

.column-type {
  font-weight: 500;
  @apply text-blue-600 text-sm;
}

.action {
  &:not(:disabled) {
    @apply cursor-pointer;
  }

  &:disabled {
    @apply opacity-40;
  }

  @apply text-xs font-semibold flex justify-center gap-1 py-1 px-2 rounded-md;
}

.action-blue {
  composes: action;
  &:hover {
    @apply text-blue-800 bg-blue-50 border-blue-200;
  }
}

.action-red {
  composes: action;
  &:hover {
    @apply text-red-800 bg-red-50 border-red-200;
  }
}

.db-header-container {
  border: 1px solid var(--bg-quat);

  @apply bg-(--bg-sec) p-2 rounded;
}

.db-header {
  @apply flex gap-2 items-center justify-start;
}

.db-subheader {
  composes: db-header;

  @apply justify-between mt-1;
}
