@import "tailwindcss";

.actions {
  display: flex;
  flex-direction: column;
  @apply border-l border-gray-300;

  button {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @apply cursor-pointer hover:bg-gray-100 text-lg;
  }
}
