@import "tailwindcss";

.search {
  @apply w-full p-2 rounded-lg outline-0 bg-gray-50 border border-gray-200;
}

.entry {
  @apply px-2 py-1 rounded-lg cursor-pointer w-full text-left flex justify-between items-center;

  &[data-is-active="true"], &:focus, &:hover {
    @apply bg-blue-50;
    outline: none;

    & > p:first-child {
      @apply text-blue-600;
    }
  }

  .ds {
    max-width: 120px;
    @apply text-xs text-blue-600 truncate;
  }
}

.ds-container {
  min-height: 42px;
  @apply flex overflow-x-auto mb-2 gap-2;
}

.ds-entry {
  max-width: 120px;
  min-height: 42px;
  opacity: 0.5;
  display: grid;
  grid-template-columns: 24px 1fr;
  @apply py-2 px-3 border border-gray-200 rounded-md items-center gap-1 cursor-pointer;

  span {
    @apply truncate;
  }

  &.enabled {
    opacity: 1;
    @apply border-blue-200;
  }
}
