@import "tailwindcss";

.search-container {
  @apply flex gap-2 items-center;
}

.search {
  @apply flex-1;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 120px;
  @apply px-2 py-1 rounded-lg cursor-pointer w-full text-left text-sm text-(--text-color-primary) items-center gap-2;

  &[data-is-active="true"], &:focus, &:hover {
    @apply bg-blue-50;
    outline: none;

    & > p:first-child {
      @apply text-blue-600;
    }
  }

  .ds {
    @apply text-xs text-blue-500 truncate;
  }
}

.ds-tooltip {
  max-width: 200px;
  max-height: 50vh;

  @apply shadow-lg rounded-lg! overflow-hidden border border-gray-200;
  @apply flex flex-col overflow-x-hidden overflow-y-auto gap-2 p-2!;
}

.ds-entry {
  min-width: 160px;
  max-width: 160px;
  display: flex;
  @apply text-sm text-(--text-color-primary) items-center gap-2 cursor-pointer;

  .ds-name {
    @apply truncate flex-1 text-left;
  }
}
