@import "tailwindcss";

.search-container {
  @apply flex gap-2 items-center p-1 rounded border border-(--bg-quat) mt-1;
}

.search {
  @apply w-full outline-0 text-sm;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 120px;
  @apply px-2 py-1 rounded-lg cursor-pointer w-full text-left text-sm text-(--text-color-primary) items-center gap-2;

  &[data-is-active="true"], &:focus, &:hover {
    @apply bg-blue-50;
    outline: none;

    & > p:first-child {
      @apply text-blue-600;
    }
  }

  .ds {
    @apply text-xs text-blue-500 truncate;
  }
}

.ds-container {
  min-height: 30px;
  @apply flex overflow-x-auto mb-2 gap-2;
}

.ds-entry {
  min-width: 160px;
  max-width: 160px;
  opacity: 0.5;
  display: grid;
  grid-template-columns: 24px 1fr;
  @apply py-1 px-2 text-sm text-(--text-color-primary) border border-gray-200 rounded-md items-center gap-1 cursor-pointer;

  span {
    @apply truncate;
  }

  &.enabled {
    opacity: 1;
    @apply border-blue-200;
  }
}
