@import "tailwindcss";

.container {
  width: 600px;
  max-width: 100%;

  @apply flex flex-col gap-1 overflow-y-hidden px-4 pb-4;
}

.header {
  width: 600px;
  max-width: 100%;
  border-bottom: 1px solid var(--bg-quat);
  @apply py-2 px-4 rounded-t-lg;
}

.fields-container {
  flex: 1;
  overflow-y: auto;
}

.field-label {
  display: block;
  margin-top: 8px;
  @apply text-sm;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  @apply py-2 px-4 border-t border-gray-200 bg-gray-50 rounded-b-lg;
}
