@import "tailwindcss";

.container {
  @apply flex-1 overflow-y-auto flex flex-col gap-1 px-4 pb-4 bg-white;
  @apply w-full lg:w-xl;
}

.header {
  border-bottom: 1px solid var(--bg-quat);
  @apply py-2 px-4 rounded-t-lg;
  @apply w-full lg:w-xl;
}

.fields-container {
  flex: 1;
  overflow-y: auto;
}

.field-label {
  display: block;
  margin-top: 8px;
  @apply text-sm;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  @apply w-full lg:w-xl;
  @apply py-2 px-4 border-t border-gray-200 bg-gray-50 rounded-b-lg;
}
