name: Manual NPM Publish

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Publish channel"
        required: true
        default: "beta"
        type: choice
        options:
          - beta
          - prod

jobs:
  publish:
    uses: ./.github/workflows/npm-publish.yml
    with:
      tag: ${{ inputs.release_type }}
